* {
	margin: 0;
	padding: 0;
}

body {
	background: #f2f2f2;
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	font-size: 18px;
}

p {
	margin-bottom: 16px;
}

.content {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-basis: 720px;
	margin: 60px;
}

header {
	display: flex;
	align-items: center;
	margin: 40px 0;
}

header h1 {
	font-size: 42px;
}

header .icon {
	font-size: 48px;
	margin-right: 6px;
	text-decoration: none;
}

main {
	margin-bottom: 72px;
}

.todo {
	margin: 36px 0px;
	margin-left: 7px;
}

.todo input[type="checkbox"] {
	scale: 2;
	margin-right: 12px;
}

.add-todo {
	margin-top: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-todo input[type="text"] {
	font-size: 18px;
	padding: 8px;
	flex-grow: 1;
	margin-right: 12px;
}

button {
	background: #3793ff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 18px;
}

footer {
	font-size: 14px;
	color: #8d8d8d;
	display: flex;
	justify-content: space-between;
}

footer nav a {
	color: inherit;
	padding: 0 4px;
}

footer nav a.is-active {
	font-weight: bold;
	text-decoration: none;
}

.alert {
	padding: 12px;
	border-radius: 5px;
}

.alert.danger {
	background: #ffb8b8;
}

